### Importing the Packages

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive

In [3]:
drive.mount("/content/drive")

Mounted at /content/drive

### Importing the Data

In [5]:
raw_csv_data = pd.read_csv("/content/drive/MyDrive/Formations/Time Series/Index2018.csv")
df_comp = raw_csv_data.copy()

### Length of the Time Period

In [7]:
df_comp.date.describe()

count           6269
unique          6269
top       07/01/1994
freq               1
Name: date, dtype: object

The top value is completly arbitrary because it's treated not as a datetime but as a text, that's why we should transform it.

### From Text to Date

In [8]:
df_comp.date = pd.to_datetime(df_comp.date, dayfirst=True)

In [9]:
df_comp.head()

        date     spx      dax     ftse    nikkei
0 1994-01-07  469.90  2224.95  3445.98  18124.01
1 1994-01-10  475.27  2225.00  3440.58  18443.44
2 1994-01-11  474.13  2228.10  3413.77  18485.25
3 1994-01-12  474.17  2182.06  3372.02  18793.88
4 1994-01-13  472.47  2142.37  3360.01  18577.26

In [10]:
df_comp.date.describe()

<ipython-input-10-68f1cb45f47c>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_comp.date.describe()

count                    6269
unique                   6269
top       1994-01-07 00:00:00
freq                        1
first     1994-01-07 00:00:00
last      2018-01-29 00:00:00
Name: date, dtype: object

### Setting the Index

In [11]:
df_comp.set_index("date", inplace=True)

In [12]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

### Setting the desired Frequency

In [15]:
df_comp = df_comp.asfreq("b")

In [16]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

### Handling Missing Values

In [19]:
df_comp.isna()

              spx    dax   ftse  nikkei
date
1994-01-07  False  False  False   False
1994-01-10  False  False  False   False
1994-01-11  False  False  False   False
1994-01-12  False  False  False   False
1994-01-13  False  False  False   False
...           ...    ...    ...     ...
2018-01-23  False  False  False   False
2018-01-24  False  False  False   False
2018-01-25  False  False  False   False
2018-01-26  False  False  False   False
2018-01-29  False  False  False   False

[6277 rows x 4 columns]

In [20]:
df_comp.isna().sum()

spx       8
dax       8
ftse      8
nikkei    8
dtype: int64

To handle the missing values, we'll use ```fillna ``` method as follows :
1. **Front Filling** : Assigns the value of the previous period.
2. **Back Filling** : Assigns the value of the next period.
3. **Assigning the same value** : Assigning the average to all the missing values within the time series

In [21]:
df_comp.spx = df_comp.spx.fillna(method="ffill")

In [22]:
df_comp.isna().sum()

spx       0
dax       8
ftse      8
nikkei    8
dtype: int64

In [23]:
df_comp.ftse = df_comp.ftse.fillna(method="bfill")

In [24]:
df_comp.isna().sum()

spx       0
dax       8
ftse      0
nikkei    8
dtype: int64

In [25]:
df_comp.dax = df_comp.dax.fillna(value=df_comp.dax.mean())

In [26]:
df_comp.isna().sum()

spx       0
dax       0
ftse      0
nikkei    8
dtype: int64

### Simplifying the dataset

In [27]:
df_comp["market_value"] = df_comp.spx

In [28]:
df_comp.describe()

               spx           dax         ftse        nikkei  market_value
count  6277.000000   6277.000000  6277.000000   6269.000000   6277.000000
mean   1288.642547   6080.063363  5423.690398  14597.055700   1288.642547
std     487.868210   2752.604984  1145.568370   4043.122953    487.868210
min     438.920000   1911.700000  2876.600000   7054.980000    438.920000
25%     992.715221   4070.460000  4487.880000  10709.290000    992.715221
50%    1233.761241   5774.380000  5663.300000  15028.170000   1233.761241
75%    1460.250000   7442.660000  6304.630175  17860.470000   1460.250000
max    2872.867839  13559.600000  7778.637689  24124.150000   2872.867839

In [30]:
del df_comp["spx"]

In [31]:
df_comp.describe()

                dax         ftse        nikkei  market_value
count   6277.000000  6277.000000   6269.000000   6277.000000
mean    6080.063363  5423.690398  14597.055700   1288.642547
std     2752.604984  1145.568370   4043.122953    487.868210
min     1911.700000  2876.600000   7054.980000    438.920000
25%     4070.460000  4487.880000  10709.290000    992.715221
50%     5774.380000  5663.300000  15028.170000   1233.761241
75%     7442.660000  6304.630175  17860.470000   1460.250000
max    13559.600000  7778.637689  24124.150000   2872.867839

In [33]:
del df_comp["dax"], df_comp["ftse"], df_comp["nikkei"]

In [34]:
df_comp.describe()

       market_value
count   6277.000000
mean    1288.642547
std      487.868210
min      438.920000
25%      992.715221
50%     1233.761241
75%     1460.250000
max     2872.867839

### Splitting the Data
We need to split our data into two sets, *Training Set* and *Test set*. We usually *Shuffle* the data before splitting it, but since in Time Series data relies on keeping the chronological order of the values, shuffling is impossible. We gonna split our data to $80\%$ Training examples and $20\%$ Test examples.

In [35]:
size = int(len(df_comp)*0.8)

In [36]:
df = df_comp.iloc[:size]
df_test = df_comp.iloc[size:]

In [37]:
df.tail()

            market_value
date
2013-04-01   1562.173837
2013-04-02   1570.252238
2013-04-03   1553.686978
2013-04-04   1559.979316
2013-04-05   1553.278930

In [38]:
df_test.head()

            market_value
date
2013-04-08   1563.071269
2013-04-09   1568.607909
2013-04-10   1587.731827
2013-04-11   1593.369863
2013-04-12   1588.854623